services:
  flask:
    build:
      context: .
      dockerfile: Dockerfile.flask
    container_name: flask_app
    volumes:
      - ./app:/app
      - ./json_files:/app/json_files
    environment:
      - FLASK_ENV=development
      - FLASK_APP=app.py
    networks:
      - app-network

  nginx:
    build:
      context: .
      dockerfile: Dockerfile.nginx
    container_name: nginx_proxy
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./app/static:/usr/share/nginx/html/static
    depends_on:
      - flask
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

